@page
@model IndexModel
@using SmartHomeApp.Models


<link rel="stylesheet" href="~/css/site.css" />

<div class="center-wrapper">
    <div class="device-container">
        <h2 class="device-title">Welkom, @Model.UserName!</h2>

        <h6 class="device-title">Apparaten</h6>

        <div class="table-wrapper">
            <table class="device-table">
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Acties</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Devices != null && Model.Devices.Any())
                    {
                        foreach (var device in Model.Devices)
                        {
                            <tr>
                                <td>@device.Name</td>
                                <td>@device.Type</td>
                                <td>
                                    <span class="status @(device.Status == "On" ? "status-on" : "status-off")">
                                        @device.Status
                                    </span>
                                </td>
                                <td>
                                    <form method="post" class="inline-form">
                                        <input type="hidden" name="deviceId" value="@device.Id" />
                                        <button type="submit" name="action" value="toggle" class="btn-toggle">Wissel</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4" class="no-devices">Er zijn nog geen apparaten toegevoegd.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="add-device-link">
            <a asp-page="/AddDevice" class="btn-add">+ Nieuw apparaat toevoegen</a>
        </div>

        <div class="add-device-link mt-4">
            <a asp-page="/Index" class="btn btn-primary">Terug naam inlogpagina</a>
        </div>
    

        <div class="add-device-link">
            <a asp-page="/overviewHistory" class="btn btn-secondary">Apparaten History</a>
        </div>

       

    </div>
</div>


